easyai-contact-final-workflow.json
{
  "name": "easyai-contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easyai-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-700, 0],
      "id": "webhook-contact",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional customer support assistant for EasyAI — a self-hosted AI workspace platform. Write a warm, helpful, and concise reply (3-5 sentences) to the contact form message below. Do not invent pricing, dates, or promises. End with: Best regards, EasyAI Support Team\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Name: {{ $('Webhook').item.json.body.name }}\\nSubject: {{ $('Webhook').item.json.body.subject }}\\nMessage: {{ $('Webhook').item.json.body.message }}\"\n    }\n  ]\n}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-460, 0],
      "id": "ollama-request",
      "name": "Ollama AI Reply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-reply",
              "name": "ai_reply",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-220, 0],
      "id": "extract-reply",
      "name": "Extract Reply"
    },
    {
      "parameters": {
        "fromEmail": "ecomercepos@murad.bd",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=We received your enquiry — EasyAI",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:'Segoe UI',Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 20px\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08)\">\n\n  <!-- Header -->\n  <tr>\n    <td style=\"background:linear-gradient(135deg,#4f46e5,#7c3aed);padding:32px 40px\">\n      <p style=\"margin:0 0 4px;color:rgba(255,255,255,0.7);font-size:12px;text-transform:uppercase;letter-spacing:1px\">EasyAI Platform</p>\n      <h1 style=\"margin:0;color:#ffffff;font-size:22px;font-weight:700\">✅ We Received Your Enquiry</h1>\n    </td>\n  </tr>\n\n  <!-- Body -->\n  <tr>\n    <td style=\"padding:36px 40px\">\n\n      <p style=\"margin:0 0 16px;color:#334155;font-size:15px;line-height:1.7;text-align:justify\">Dear <strong>{{ $('Webhook').item.json.body.name }}</strong>,</p>\n\n      <p style=\"margin:0 0 24px;color:#64748b;font-size:14px;line-height:1.8;text-align:justify\">Thank you for contacting <strong>EasyAI</strong>. We have received your enquiry regarding <strong>\"{{ $('Webhook').item.json.body.subject }}\"</strong> and our AI assistant has prepared an initial response for you. Our team will follow up within <strong>24 hours</strong> if further assistance is needed.</p>\n\n      <!-- AI Reply Box -->\n      <div style=\"background:#f5f3ff;border:1px solid #ddd6fe;border-radius:10px;padding:24px 28px;margin-bottom:28px\">\n        <p style=\"margin:0 0 14px;color:#7c3aed;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px\">🤖 AI Assistant Response</p>\n        <p style=\"margin:0;color:#1e293b;font-size:14px;line-height:1.9;text-align:justify\">{{ $('Extract Reply').item.json.ai_reply }}</p>\n      </div>\n\n      <!-- Original Message Recap -->\n      <div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;padding:18px 22px;margin-bottom:28px\">\n        <p style=\"margin:0 0 10px;color:#94a3b8;font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:0.8px\">Your Original Message</p>\n        <p style=\"margin:0 0 6px;color:#64748b;font-size:13px\"><strong>Subject:</strong> {{ $('Webhook').item.json.body.subject }}</p>\n        <p style=\"margin:0;color:#64748b;font-size:13px;line-height:1.7;text-align:justify;white-space:pre-wrap\">{{ $('Webhook').item.json.body.message }}</p>\n      </div>\n\n      <p style=\"margin:0;color:#64748b;font-size:14px;line-height:1.7;text-align:justify\">We appreciate you reaching out to us. Should you have any further questions or require immediate assistance, please feel free to reply to this email directly.</p>\n\n      <p style=\"margin:24px 0 0;color:#334155;font-size:14px;line-height:1.7\">Warm regards,<br><strong>EasyAI Support Team</strong></p>\n\n    </td>\n  </tr>\n\n  <!-- Footer -->\n  <tr>\n    <td style=\"background:#f8fafc;border-top:1px solid #e2e8f0;padding:20px 40px;text-align:center\">\n      <p style=\"margin:0;color:#94a3b8;font-size:12px\">EasyAI Platform &nbsp;·&nbsp; <a href=\"https://ai.murad.bd\" style=\"color:#6366f1;text-decoration:none\">ai.murad.bd</a> &nbsp;·&nbsp; Sent automatically via n8n</p>\n    </td>\n  </tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [20, 0],
      "id": "email-visitor",
      "name": "Email Visitor",
      "credentials": {
        "smtp": { "id": "jGLtj9cyaVOaSuNp", "name": "SMTP account" }
      }
    },
    {
      "parameters": {
        "fromEmail": "ecomercepos@murad.bd",
        "toEmail": "murad@murad.bd",
        "subject": "=📬 New Contact: {{ $('Webhook').item.json.body.subject }}",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:'Segoe UI',Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 20px\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08)\">\n\n  <!-- Header -->\n  <tr>\n    <td style=\"background:linear-gradient(135deg,#0f172a,#1e293b);padding:32px 40px\">\n      <p style=\"margin:0 0 4px;color:rgba(255,255,255,0.5);font-size:12px;text-transform:uppercase;letter-spacing:1px\">EasyAI Admin Notification</p>\n      <h1 style=\"margin:0;color:#ffffff;font-size:22px;font-weight:700\">📬 New Contact Form Submission</h1>\n    </td>\n  </tr>\n\n  <!-- Body -->\n  <tr>\n    <td style=\"padding:36px 40px\">\n\n      <!-- Contact Details -->\n      <p style=\"margin:0 0 14px;color:#64748b;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px\">Contact Details</p>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e2e8f0;border-radius:8px;overflow:hidden;margin-bottom:28px\">\n        <tr style=\"background:#f8fafc\">\n          <td style=\"padding:12px 18px;color:#94a3b8;font-size:13px;width:110px;border-bottom:1px solid #e2e8f0\">Name</td>\n          <td style=\"padding:12px 18px;color:#1e293b;font-size:14px;font-weight:600;border-bottom:1px solid #e2e8f0\">{{ $('Webhook').item.json.body.name }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:12px 18px;color:#94a3b8;font-size:13px;border-bottom:1px solid #e2e8f0\">Email</td>\n          <td style=\"padding:12px 18px;border-bottom:1px solid #e2e8f0\"><a href=\"mailto:{{ $('Webhook').item.json.body.email }}\" style=\"color:#4f46e5;font-size:14px;text-decoration:none\">{{ $('Webhook').item.json.body.email }}</a></td>\n        </tr>\n        <tr style=\"background:#f8fafc\">\n          <td style=\"padding:12px 18px;color:#94a3b8;font-size:13px;border-bottom:1px solid #e2e8f0\">Subject</td>\n          <td style=\"padding:12px 18px;color:#1e293b;font-size:14px;font-weight:600;border-bottom:1px solid #e2e8f0\">{{ $('Webhook').item.json.body.subject }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:12px 18px;color:#94a3b8;font-size:13px\">Received</td>\n          <td style=\"padding:12px 18px;color:#64748b;font-size:13px\">{{ $('Webhook').item.json.body.submitted_at }}</td>\n        </tr>\n      </table>\n\n      <!-- Message -->\n      <p style=\"margin:0 0 14px;color:#64748b;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px\">Message</p>\n      <div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-left:4px solid #4f46e5;border-radius:0 8px 8px 0;padding:16px 20px;margin-bottom:28px\">\n        <p style=\"margin:0;color:#334155;font-size:14px;line-height:1.8;text-align:justify;white-space:pre-wrap\">{{ $('Webhook').item.json.body.message }}</p>\n      </div>\n\n      <!-- AI Reply -->\n      <p style=\"margin:0 0 14px;color:#64748b;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px\">🤖 AI Reply Sent to Visitor</p>\n      <div style=\"background:#f5f3ff;border:1px solid #ddd6fe;border-left:4px solid #7c3aed;border-radius:0 8px 8px 0;padding:16px 20px\">\n        <p style=\"margin:0;color:#4c1d95;font-size:14px;line-height:1.8;text-align:justify\">{{ $('Extract Reply').item.json.ai_reply }}</p>\n      </div>\n\n    </td>\n  </tr>\n\n  <!-- Footer -->\n  <tr>\n    <td style=\"background:#f8fafc;border-top:1px solid #e2e8f0;padding:20px 40px;text-align:center\">\n      <p style=\"margin:0;color:#94a3b8;font-size:12px\">EasyAI Platform &nbsp;·&nbsp; ai.murad.bd &nbsp;·&nbsp; Sent automatically via n8n</p>\n    </td>\n  </tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [260, 0],
      "id": "email-admin",
      "name": "Email Admin",
      "credentials": {
        "smtp": { "id": "jGLtj9cyaVOaSuNp", "name": "SMTP account" }
      }
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [500, 0],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook":         { "main": [[{"node": "Ollama AI Reply",    "type": "main", "index": 0}]] },
    "Ollama AI Reply": { "main": [[{"node": "Extract Reply",      "type": "main", "index": 0}]] },
    "Extract Reply":   { "main": [[{"node": "Email Visitor",      "type": "main", "index": 0}]] },
    "Email Visitor":   { "main": [[{"node": "Email Admin",        "type": "main", "index": 0}]] },
    "Email Admin":     { "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
